extends layouts/default
include mixins/datatable

append head
  link(rel='stylesheet' href=require('./styles.scss'))

append script
  script(src=require('./index.js') type='text/javascript')
  script.
    App.updatePage();

block headline
  h1 Data Table xzx

block content
  div.dataTable
