.app-logo {
    width: 100px;
    height: 100px;
}

.header-left {
    float: left;
}

.header-right {
    float:right;
}

.header-content {
    font-family: Arial, Helvetica, sans-serif;
}

.dataTable_cell {
    border-style: solid;
    border-width: 1px;
}

.dataTable_cell--innerDiv {
    background-color: cyan;
}